/* body{
    font-family: sans-serif;
    background-color: #f1f5f8;
    line-height: 50px;
    font-size: 18px;
}
h2{
color:#fff;
width : 300px;
border: 10px,black;
margin: 50px;
padding: 50px;

}
.container h2{
    text-align: center;
background-color: #808000;
margin: 0px;
padding: 5px;
} */
h1 {
    font-family: sans-serif;
    font-size: 38px;
    text-align: center;
}

.container {
    text-align: center;
}

.wrapper {
    font-family: 'Lucida Sans regular';
    color: beige;
    display: flex;
    justify-content: center;
}

.wrapper .color-block {
    height: 100px;
    background-color: #808000;
    width: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 20px;
}

.wrapper .color-block .color-text {
    color: beige;
    font-size: 30px;
}

.btn {
    margin-top: 25px;
}