.countdown {
    text-align: center;
}

h1 {
    font-size: 75px;
    font-weight: bold;
    font-style: italic;
    color: #AC3B61;
    font-family: monospace;
}

.container {
    color: red;
    display: flex;
    justify-content: center;
}

.count-down-wrapper {
    background-color: #25274D;
    padding: 5px 20px;
    margin: 20px 0;
    display: flex;
    border-radius: 20px;
    justify-content: space-between;
}

.col {
    border-radius: 10px;
    background-color: beige;
    width: 150px;
    margin: 20px;
    padding: 10px;
    color: #25274D;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    width: auto;
    padding: 0 20px;
}

img {
    max-width: 280px;
    height: auto;
    width: auto;
    border-radius: 30px;
}

body {
    background-color: #EAE7DC;
}